* {
  box-sizing: border-box;
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 48px 21px 64px 16px;
  width: 390px;
  height: 1227px;
  row-gap: 33px;

  .uLvacReceivesThe2025 {
    flex-shrink: 0;
    align-self: stretch;
    width: 321px;
    line-height: 24px;
    letter-spacing: 0;
    color: #1a1a1a;
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  .date {
    flex-shrink: 0;
    width: 100px;
    line-height: 19px;
    letter-spacing: 0;
    color: var(--color-neutral-solid-gray-536);
    font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 8px;

    .tag {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 10px;
      margin-right: 238px;
      border-radius: 4px;
      background: #daecfa;
      padding: 6px 12px;

      .corporate {
        flex-shrink: 0;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--Ulvac---main, #1c7dcd);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 700;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    border: 1px solid var(--color-neutral-solid-gray-200);
    border-radius: 8px;
    background: #ffffff;
    padding: 15px;
    row-gap: 16px;

    .thumbnail {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      border-radius: 8px;
      background: #ffffff;
      width: 321px;
      height: 181px;
      overflow: hidden;

      .imageTsmc {
        margin-top: -22px;
        margin-left: -3px;
        width: 340px;
        height: 316px;
      }
    }
  }

  .card2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    border: 1px solid var(--color-neutral-solid-gray-200);
    border-radius: 8px;
    background: #ffffff;
    padding: 15px;
    row-gap: 16px;

    .thumbnail2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      outline-width: 1px;
      outline-style: solid;
      outline-color: var(--color-neutral-solid-gray-200);
      border-radius: 8px;
      background: #d6d6d6;
      padding: 1px 79px 1px 80px;
      overflow: hidden;

      .imageSkhynix {
        width: 162px;
        height: 180px;
      }
    }
  }

  .card3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    border: 1px solid var(--color-neutral-solid-gray-200);
    border-radius: 8px;
    background: #ffffff;
    padding: 15px;
    row-gap: 16px;

    .thumbnail3 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      outline-width: 1px;
      outline-style: solid;
      outline-color: var(--color-neutral-solid-gray-200);
      border-radius: 8px;
      background: #d6d6d6;
      padding-right: 66px;
      padding-left: 68px;
      height: 181px;
      overflow: hidden;

      .imageCdp {
        width: 186px;
        height: 181px;
      }
    }

    .container2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 8px;

      .tag2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        margin-right: 217px;
        border-radius: 4px;
        background: #ddf9e4;
        padding: 6px 12px;

        .sustainability {
          flex-shrink: 0;
          line-height: 18px;
          letter-spacing: 0;
          color: #008520;
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 700;
        }
      }
    }
  }
}
