* {
  box-sizing: border-box;
}

.uLvacMainBases {
  width: 1280px;
  height: 70px;
  line-height: 70px;
  letter-spacing: 0;
  color: var(--color-neutral-white);
  font-family: "Dunbar Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 54px;
  font-weight: 700;
}
