* {
  box-sizing: border-box;
}

.dotGrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  width: 1272px;
  height: 177px;
  overflow: hidden;

  .frame {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-right: -8px;
    padding-right: 8px;
    padding-bottom: 6px;
    min-width: 1280px;
    overflow: hidden;

    .ellipse {
      border-radius: 50%;
      background: #9cc4e5;
      width: 3px;
      height: 3px;
    }
  }
}
