* {
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #00000033;
  padding: 120px 80px;
  width: 1440px;
  height: 601px;
  row-gap: 48px;

  .companyProfile {
    flex-shrink: 0;
    align-self: stretch;
    line-height: 70px;
    letter-spacing: 0;
    color: var(--color-neutral-white);
    font-family: "Dunbar Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 54px;
    font-weight: 700;
  }

  .container {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 16px;

    .netSales {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: 0;
      color: #333333;
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .a2512B {
      flex-shrink: 0;
      line-height: 36px;
      letter-spacing: 0;
      color: var(--color-neutral-solid-gray-900);
      font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 36px;
      font-weight: 700;
    }

    .a {
      flex-shrink: 0;
      line-height: 28px;
      letter-spacing: 0;
      color: var(--color-neutral-solid-gray-900);
      font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;
    }

    .laptopChromebook {
      flex-shrink: 0;
      width: 80px;
      height: 80px;
      overflow: hidden;
    }

    .fY2025EndedJune2025 {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: var(--color-neutral-solid-gray-536);
      font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .card {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      border: 1px solid var(--color-neutral-solid-gray-200);
      border-radius: 8px;
      background: #ffffff;
      padding: 23px;
      row-gap: 8px;

      .title {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 64px;
        margin-left: 64px;
        row-gap: 6px;

        .text {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-end;
          align-self: stretch;
          column-gap: 4px;
        }
      }
    }

    .card2 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      border: 1px solid var(--color-neutral-solid-gray-200);
      border-radius: 8px;
      background: #ffffff;
      padding: 23px;
      row-gap: 8px;

      .title2 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 85px;
        margin-left: 85px;
        row-gap: 6px;
      }
    }

    .card3 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      border: 1px solid var(--color-neutral-solid-gray-200);
      border-radius: 8px;
      background: #ffffff;
      padding: 23px;
      row-gap: 8px;

      .title3 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 68px;
        margin-left: 68px;
        row-gap: 6px;
      }
    }

    .card4 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      border: 1px solid var(--color-neutral-solid-gray-200);
      border-radius: 8px;
      background: #ffffff;
      padding: 23px;
      row-gap: 8px;

      .title4 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 45px;
        margin-left: 45px;
        row-gap: 6px;

        .text2 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-end;
          align-self: stretch;
          column-gap: 4px;
          margin-right: 29px;
          margin-left: 29px;
        }
      }
    }
  }
}
