* {
  box-sizing: border-box;
}

.a2512B {
  width: 90px;
  height: 28px;
  line-height: 28px;
  letter-spacing: 0;
  color: var(--color-neutral-solid-gray-900);
  font-family: "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 700;
}
