* {
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 16px;
  width: 390px;
  height: 885px;
  row-gap: 32px;

  .expandMore {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .uLvacOperatesBusines {
    flex-shrink: 0;
    align-self: stretch;
    width: 358px;
    height: 62px;
    line-height: 36px;
    letter-spacing: 0;
    color: #1a1a1a;
    font-family: "Dunbar Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    row-gap: 24px;

    .accordionSp {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border: 1px solid var(--color-neutral-solid-gray-200);
      border-radius: 8px;
      box-shadow: var(--card, 0px 2px 4px 0px #00000014);
      background: #ffffff;
      padding: 15px;
      width: 358px;

      .semiconductorAndElec {
        flex-grow: 1;
        width: 294px;
        line-height: 27px;
        letter-spacing: 0;
        color: var(--color-neutral-solid-gray-900);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
      }
    }

    .accordionSp2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 8px;
      border: 1px solid var(--color-neutral-solid-gray-200);
      border-radius: 8px;
      box-shadow: var(--card, 0px 2px 4px 0px #00000014);
      background: #ffffff;
      padding: 15px;
      width: 358px;

      .semiconductorAndElec2 {
        flex-grow: 1;
        line-height: 27px;
        letter-spacing: 0;
        color: var(--color-neutral-solid-gray-900);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  .buttonSp {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 4px;
    border: 1px solid var(--Ulvac---main, #1c7dcd);
    border-radius: 4px;
    background: var(--Ulvac---main, #1c7dcd);
    padding: 9px 19px 9px 23px;

    .superMiniaturization {
      flex-shrink: 0;
      line-height: 23px;
      letter-spacing: 0;
      color: var(--color-neutral-white);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 700;
    }
  }
}
