* {
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 48px 16px 64px;
  width: 390px;
  height: 1441px;
  row-gap: 32px;

  .memory {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }

  .researchDevelopment {
    flex-shrink: 0;
    align-self: stretch;
    line-height: 44px;
    letter-spacing: -0.34px;
    color: var(--color-neutral-opacity-gray-900);
    font-family: "Dunbar Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 700;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 16px;

    .backIn1952UlvacWasSt {
      flex-shrink: 0;
      align-self: stretch;
      width: 358px;
      line-height: 29px;
      letter-spacing: 0;
      color: var(--color-neutral-solid-gray-800);
      font-family: "Dunbar Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 22px;
      font-weight: 700;
    }

    .backIn1952UlvacWasSt2 {
      flex-shrink: 0;
      align-self: stretch;
      width: 358px;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--color-neutral-solid-gray-800);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  }

  .container3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    row-gap: 16px;

    .text {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 8px;

      .semiconductorFocus {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 27px;
        letter-spacing: 0;
        color: #1a1a1a;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
      }

      .strengtheningTechnol {
        flex-shrink: 0;
        align-self: stretch;
        width: 326px;
        line-height: 24px;
        letter-spacing: 0;
        color: #666666;
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 8px;
      background: #edf7ff;
      padding: 16px;
      row-gap: 16px;

      .frame17 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;
        margin-right: 294px;
        border-radius: 4px;
        background: var(--Ulvac---main, #1c7dcd);
        padding-right: 4px;
        padding-left: 4px;
        height: 32px;
      }
    }

    .container2 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 8px;
      background: #edf7ff;
      padding: 16px;
      row-gap: 16px;

      .icon {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border-radius: 4px;
        background: var(--Ulvac---main, #1c7dcd);
        width: 32px;
        height: 32px;
      }
    }
  }

  .banner {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Ulvac---main, #1c7dcd);
    padding: 16px;
    row-gap: 16px;

    .container4 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;

      .text2 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: center;
        row-gap: 4px;

        .rDBases {
          flex-shrink: 0;
          line-height: 19px;
          letter-spacing: 0;
          color: var(--color-neutral-white);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
        }

        .a9 {
          flex-shrink: 0;
          line-height: 36px;
          letter-spacing: 0;
          color: var(--color-neutral-white);
          font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }

    .aAsOfEndOfJune2025 {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: var(--color-neutral-white);
      font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .button {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 4px;
      border: 1px solid var(--Ulvac---main, #1c7dcd);
      border-radius: 4px;
      background: var(--color-neutral-white);
      padding: 9px 19px 9px 23px;

      .superMiniaturization {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Ulvac---main, #1c7dcd);
        font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
